<!-- uploadPdfForm.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF Form</title>
</head>
<body>
    <h1>Upload PDF Form</h1>
    <% if (error_message) { %>
        <p><%= error_message %></p>
    <% } %>
  

    <form action="/upload-pdf-form" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="eventId" value="1"> <!-- Example eventId -->
        <button type="submit">Upload</button>
    </form>
    
</body>
</html>
